*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
}
body{
    background-color: #FFC994;
}
.bg-color{
    background-color: #ffdcba;
}
h1, h3, p {
    color: #101010;
}
h2{
    color: #FF6B00;
    margin: 20px 0;
    font-size: 30px;
}

header{
    box-shadow: 5px 5px 20px #f798459a;
}
h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.ptb{
    padding: 50px 0px;
}

.main-header {
    display: flex;
    height: 100px;
    justify-content:space-between;
    align-items:center;  
}
header .main-header img{
    width: 130px;
    text-align: center;
}
.main-header .right-side nav ul{
    list-style-type:none;
}
.main-header .right-side nav ul li{
    display: inline-block;
    margin-right: 20px;
}
.main-header .right-side nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: #FF6B00;
    padding: 10px 25px;
    display: inline-block;
    border-radius: 30px;
}
.main-header .right-side nav ul li a:hover{
    cursor: pointer;
    background-color: rgba(163, 76, 76, 0);
    color: #FF6B00;
    border: 1px solid #FF6B00;
}

/* BANNER AREA CSS */

.banner-area{
    display: flex;
    height: 80vh;
    justify-content: space-between;
    align-items: center;
}


.banner-area .left-side p{
    font-size: 20px;
}

.banner-area .right-side img{
    width: 400px;
}
#btn-contact{
    margin-top: 20px;
    padding: 15px 40px;
    background-color: #FF6B00;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    box-shadow: 5px 5px 20px hsla(25, 100%, 50%, 0.568)
}
#btn-contact:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    color: #FF6B00;
    font-weight: bold;
    box-shadow: 5px 5px 20px hsla(25, 100%, 50%, 0.568);    
}

/* ABOUT SECTION START */
.about-us-section h1, .title{
    text-align: center;
    padding: 20px 0px;
    margin-bottom: 40px;
}
.about-us-main{
    display: flex;
    padding: 20px 0px;
}
.about-us-main .left-side{
}
.about-us-main .right-side{
    border-left: 3px solid rgba(255, 255, 255, 0.26);
    padding-left: 20px;
}
.about-us-main img{
    width: 400px;
}
.about-us-main p{
    padding-right: 40px;
}

/* SERVICE SECTION START */

.service-main{
    display: flex;
}
.service-main .box{
    text-align: center;
    padding: 30px 50px;
    box-shadow: -5px 20px 30px hsl(25, 63%, 67%);
    border-radius: 10px;
    margin: 10px 20px;
}
.service-main img{
    width: 50px;
    color: #FF6B00;
}
.service-main p{
    text-align: justify;
}
.service-main button{
    
}

/* FOOTER SECTION */
footer{
    background-color: #ff6a00bb;
}
.main-footer{
    display: flex;
}
.main-footer h3{
    border-bottom: 2px solid #ffffff8a;
    margin-bottom: 5px;
}
.main-footer .w1{
    max-width: 30%;
}
.main-footer .w2{
    max-width: 30%;
}
.main-footer w3{
    max-width: 30%;
}
.main-footer img{
    width: 130px;
}
.main-footer ul{
    list-style-type: none;
}
.main-footer ul li a{
    text-decoration: none;
    line-height: 1.5em;
    font-weight: 500;
}
.main-footer ul li a:hover{
    color: blueviolet;
}
.footer-buttom p{
    text-align: center;
    background-color: #FF6B00;
    padding: 10px 0px;
    text-decoration: none;
}
.footer-buttom a{
    color: white;
    text-decoration: none;
}